[include]
    path = ~/.private/gitconfig

# Include different identitites in the private gitconfig
# [user "identity"]
#     name = name
#     email = email

[user]
    useConfigOnly = true

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch

    l = log --pretty=format:'%Cred%h%Creset %Cgreen%s%Creset [%ar by %an]'
    lg = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' --abbrev-commit --date=relative

    fixup = !sh -c 'git commit --no-verify --fixup=$1' -
    squash = !sh -c 'git commit --squash=$1' -

    # Github is sorting the commits by their date -> reset it on rebase
    # http://stackoverflow.com/questions/1579643/change-timestamps-while-rebasing-git-branch
    ri = rebase --interactive --autosquash
    amend = !sh -c 'git commit --amend --no-edit' -
    changedate = !sh -c 'git commit --amend --no-verify --no-edit --date \"`date -R`\"'

    d = diff --color
    dc = diff --cached --color
    wdiff = diff --color-words
    s = show --color
    pr = pull --rebase
    patch = !git --no-pager diff --no-color
    pushf = push --force-with-lease

    # https://www.micah.soy/posts/setting-up-git-identities/
    identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; :" #  git config user.signingkey \"$(git config user.$1.signingkey)\";

[colors]
    diff = auto
    grep = auto
    status = auto
    ui = auto

[core]
    editor = nvim
    pager = delta
	excludesFile = /Users/zdenek.kostal/.gitignore_global
    hooksPath = /dev/null

[push]
    default = simple

[commit]
    verbose = true

[diff]
    compactionHeuristic = true
    tool = vimdiff
    colorMoved = default

[difftool]
    prompt = false

[difftool "vimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[rebase]
    autostash = true

[stash]
    showPatch = true

[color "diff"]
    meta = yellow
    commit = green
    frag = magenta
    old = red
    new = green
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red 52
    newNormal = green
    newHighlight = green 22

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = "gruvbox-dark"

[delta "decorations"]
    commit-decoration-style = yellow ul
    file-style = bold yellow box
    file-decoration-style = none

[interactive]
    diffFilter = delta --color-only

[branch]
    autosetuprebase = always

[diff "exif"]
    textconv = exiftool
[init]
	defaultBranch = main
